<div class="product-block product-thumb transition" style="height: 374px;">
	<div class="product-block-inner">

		<div class="image">
			<a href="indexbb02.html?route=product/product&amp;product_id=42">
				<img src="/media/image/04-212x288.jpg" title="Consectetur Hampden" alt="Consectetur Hampden"
					class="img-responsive reg-image">
				<img class="img-responsive hover-image" src="/media/image/10-212x288.jpg" title="Consectetur Hampden"
					alt="Consectetur Hampden">
			</a>


			<span class="saleicon sale">Sale</span>

			<div class="percentsaving">8% off</div>

			<div class="button-group">
				<button class="wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('42 ');"
					data-placement="left" data-original-title="Add to Wish List ">
					<i class="fa fa-heart"></i></button>
				<div class="quickview-button" data-toggle="tooltip" title="" data-placement="left"
					data-original-title="Quick view"> <a class="quickbox"
						href="index6d6f.html?route=product/quick_view&amp;product_id=42">
						<i class="fa fa-eye" aria-hidden="true"></i></a></div>
				<button class="compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('42 ');"
					data-placement="left" data-original-title="Add to Compare ">
					<i class="fa fa-exchange"></i></button>
			</div>

			<div class="button-addtocart">
				<button type="button" class="addtocart" onclick="cart.add('42 ');"><span>Add to Cart</span></button>
			</div>

		</div>
		<div class="product-details">
			<div class="caption">

				<div class="rating">
					<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
					<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
					<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
					<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
					<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
				</div>

				<h4><a href="indexbb02.html?route=product/product&amp;product_id=42">Consectetur Hampden </a></h4>

				<p class="price">
					<span class="price-new">$110.00</span> <span class="price-old">$119.60</span>
					<span class="price-tax">Ex Tax: $90.00</span>
				</p>
			</div>
		</div>
	</div>
</div>