{% extends "base.html" %}
{% load static %}


{% block title %}{{wiki_cat.name_block|safe}}{% endblock %}
{% block description %}{{wiki_cat.name_block|safe}}{% endblock %}

{% block og_title %}{{wiki_cat.name_block|safe}}{% endblock %}
{% block og_description %}{{wiki_cat.name_block|safe}}{% endblock %}

{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block image_src %}https://rkehome.taplk.ru{% if wiki_cat.image %}/media/{{wiki_cat.image|safe}}{% else %}/media/zaglavka.png{% endif %}{% endblock %}
{% block og_image %}https://rkehome.taplk.ru{% if wiki_cat.image %}/media/{{wiki_cat.image|safe}}{% else %}/media/zaglavka.png{% endif %}{% endblock %}


{% block canonical %}{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ catalog_category.get_absolute_url }}{% endblock %}


{% block content %}
{% include "header.html" %}








<div class="wrap-breadcrumb parallax-breadcrumb">
	<div class="container"></div>
</div>

<div class="container">

	<div class="row">

		{% include "left.html" %}

		<div id="content" class="col-sm-9  single-blog">
			<ul class="breadcrumb">

				<li><a href="/"><i class="fa fa-home"></i></a></li>

				<li>{{book_cat.name_block}}</li>

			</ul>





<div class="row category_thumb">
                <div class="col-sm-2 category_img"><img src="https://demo.codezeel.com/opencart/OPC07/OPC070157/image/cache/catalog/category-banner-920x200.jpg" alt="Books" title="Books" class="img-thumbnail"></div>
                
        <div class="col-sm-12">
        	<h1 class="page-title">{{book_cat.name_block}}</h1>
        </div>

        <div class="col-sm-10 category_description"><p>
	Example of category description text</p>
</div>
              </div>



			  <div id="products">




				 <div class="cat_prod row">


{% for tovar_all in tovar_all.all %}
							
					{% include "book_cat_tovar.html" %}
							
			{% empty %}
		<p style="font-size: 16px">Нет постов</p>
	{% endfor %}



				 </div>








<div class="pagination-wrapper">
			<div class="col-sm-6 text-left page-link"><ul class="pagination"><li class="active"><span>1</span></li><li><a href="https://demo.codezeel.com/opencart/OPC07/OPC070157/index.php?route=product/category&amp;path=20&amp;page=2">2</a></li><li><a href="https://demo.codezeel.com/opencart/OPC07/OPC070157/index.php?route=product/category&amp;path=20&amp;page=2">&gt;</a></li><li><a href="https://demo.codezeel.com/opencart/OPC07/OPC070157/index.php?route=product/category&amp;path=20&amp;page=2">&gt;|</a></li></ul></div>
			<div class="col-sm-6 text-right page-result">Showing 1 to 12 of 14 (2 Pages)</div>
	   </div>

   {% if tovar_all.paginator.num_pages > 1 %}
                     <div class="cateogory_midle_right_navigations">
                    <div class="paginator_wrapper">
                    <div class="paginator_wrapper">
                        {% if tovar_all.has_previous %}
                        <a class="paginator_b" rel="prev" href="?page={{ tovar_all.previous_page_number }}">←</a>{% else %} {% endif %}
                        {% if tovar_all.previous_page_number > 2 %}
                        <a class="paginator_a" href="?page=1">1</a> <span class="paginator_a_dots">...</span>
                        {% else %} {% endif %}
                        {% for i in tovar_all.paginator.page_range %}
                        {% if tovar_all.number == i %}
                        <span class="paginator_current">{{ i }}</span>
                        {% elif i > tovar_all.number|add:'-2' and i < tovar_all.number|add:'10' %} 
						<a class="paginator_a" title="" href="?page={{ i }}">{{ i }}</a>
                            {% endif %}
                            {% endfor %}
                            
                            {% if tovar_all.has_next and tovar_all.paginator.num_pages > 5 %}
                            <span class="paginator_a_dots">…</span>
                            <a class="paginator_c" title="" href="?page={{ tovar_all.paginator.num_pages }}">{{ tovar_all.paginator.num_pages }}</a>
                            <a class="paginator_b" rel="next" style="margin-right: 0;" href="?page={{ tovar_all.next_page_number }}">→</a>
                            {% else %} {% endif %}
                    </div>
                     </div>
                  </div>
                    {% else %} {% endif %}




			  </div>













		</div>







	</div>
</div>

























{% include "footer.html" %}
{% endblock %}