{% extends "base.html" %}
{% load static %}


{% block title %}{{catalog_category.title_us|safe}}{% endblock %}
{% block description %}{{catalog_category.description|safe}}{% endblock %}

{% block og_title %}{{catalog_category.title_us|safe}}{% endblock %}
{% block og_description %}{{catalog_category.description|safe}}{% endblock %}

{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block image_src %}https://rkehome.taplk.ru{% if catalog_category.image %}/media/{{catalog_category.image|safe}}{% else %}/media/zaglavka.png{% endif %}{% endblock %}
{% block og_image %}https://rkehome.taplk.ru{% if catalog_category.image %}/media/{{catalog_category.image|safe}}{% else %}/media/zaglavka.png{% endif %}{% endblock %}


{% block canonical %}{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ catalog_category.get_absolute_url }}{% endblock %}


{% block content %}
{% include "header.html" %}




<nav aria-label="Хлебные крошки">
        
	<div class="breadcrumbs">
	<a href="/">Начало</a>
	› База знаний
	</div>

</nav>


<div class="container_wiki">


	<div class="wiki_cat_wrp">

		<div class="wiki_cat_wrp_l">
		{% for wiki_cat_all in wiki_cat_all.all %}

			<a href="{{ wiki_cat_all.get_absolute_url }}" {% if wiki_cat_all.id == wiki_cat.id  %}class="active_url" {% endif %} >{{ wiki_cat_all.name_block }}</a>

		{% empty %}
			<p style="font-size: 16px">Нет постов</p>
		{% endfor %}
		</div>	
		<div class="wiki_cat_wrp_r">
			<div class="search search--header">
                <div class="search_wrap">
                    <form class="search-form" action="/catalog/" class="user-tools__search site-search">
                        <div class="fform">
                            {% csrf_token %}
                            {{ searchtag.q.errors }}
                            <div class="tt-input" data-da="#search_mobile_top,768,0">
                                   {{ searchtag.q }}
                            </div>
                        </div>
                    </form>
                	<div class="tt-menu-wrap" data-da="#search_mobile,768,0">
                        <div class="tt-menu" style="position: absolute; top: 38px; left: 0px; z-index: 100;">
                            <div class="tt-dataset tt-dataset-hashTags"></div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>

	<h1>База знаний:</h1>


	<div class="task_wrap">
	{% for tasks in tasks %}

		
		<div class="task_block animate__animated animate__fadeInUp">
			<a href="{{tasks.get_absolute_url}}">
				<div class="task_block_name">
					{{tasks.name_block|safe}}
				</div>
				
				<div class="task_block_opisanie">
					{% if tasks.opisanie_mini %}
						{{tasks.opisanie_mini|safe|truncatechars:"150"}}
					{% else %}
						{{tasks.opisanie_full|safe|truncatechars:"150"}}
					{% endif %}
				</div>
			</a>
		</div>


	





	{% empty %}
		<p style="font-size: 16px">Нет постов</p>
	{% endfor %}


	</div>


	        
                    {% if tasks.paginator.num_pages > 1 %}
                     <div class="cateogory_midle_right_navigations">
                    <div class="paginator_wrapper">
                    <div class="paginator_wrapper">
                        {% if tasks.has_previous %}
                        <a class="paginator_b" rel="prev" href="?page={{ tasks.previous_page_number }}">←</a>{% else %} {% endif %}
                        {% if tasks.previous_page_number > 2 %}
                        <a class="paginator_a" href="?page=1">1</a> <span class="paginator_a_dots">...</span>
                        {% else %} {% endif %}
                        {% for i in tasks.paginator.page_range %}
                        {% if tasks.number == i %}
                        <span class="paginator_current">{{ i }}</span>
                        {% elif i > tasks.number|add:'-2' and i < tasks.number|add:'10' %} 
						<a class="paginator_a" title="" href="?page={{ i }}">{{ i }}</a>
                            {% endif %}
                            {% endfor %}
                            
                            {% if tasks.has_next and tasks.paginator.num_pages > 5 %}
                            <span class="paginator_a_dots">…</span>
                            <a class="paginator_c" title="" href="?page={{ tasks.paginator.num_pages }}">{{ tasks.paginator.num_pages }}</a>
                            <a class="paginator_b" rel="next" style="margin-right: 0;" href="?page={{ tasks.next_page_number }}">→</a>
                            {% else %} {% endif %}
                    </div>
                     </div>
                  </div>
                    {% else %} {% endif %}
                    




</div>

<script>
	var preElements = document.getElementsByTagName('pre');
	for (var i = 0; i < preElements.length; i++) {
		preElements[i].classList.add('prettyprint');
	}
</script>

<script src="/media/run_prettify.js"></script>


{% include "footer.html" %}
{% endblock %}